@import "reset";

body {
    text-align: center;
    padding: 40px;
}
#click {
    border: solid 1px black;
    padding: 0.5em 1em;
    margin-bottom: 40px;
    background: linear-gradient(to right, #ffffff, #e6e6e6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
#anser {
    li {
        margin-bottom: 0.5em;
        &.completed {
            color: red;
        }
    }
}
